<div class="row panel callout radius">
    <div class="col-md-1">
        <i class="fas fa-edit"></i>
    </div>
    <div class="col-md-2">
        <p>{{id}}</p>
    </div>
    <div class="col-md-3">
        <p>{{customer.first_name}} {{customer.last_name}}</p>
    </div>
    <div class="col-md-2">
        <p>{{pickup_time}}</p>
    </div>
    <div class="col-md-2">
        {{!-- TODO: Where and what should be populated in the Order Type field? --}}
        <p>????</p>
    </div>
    <div class="col-md-2">
        <p>{{User.first_name}}</p>
    </div>
</div>