<div class="row">
  <div class="col-md-5">

    {{!-- LINK THIS TO THE CUSTOMER SELECTED --}}

    <h2>Creating Order for: {{customer.firstName}} {{customer.lastName}}</h2>
    <hr>
    <h3>Cake Information</h3>
  </div>
  <div class="col-md-7">
  </div>
</div>

<div class="row">
  <div class="col-md-5">
    <form class="form order-item-form">
      <div class="row">
        <div class="col-sm-6 form">
          <label for="name-signup">Pick-up Date</label>
          <label for="start">Pick-up Date:</label>
          <input type="date" class="form-input" id="pick-up-date" name="trip-start" value="today" min="2018-01-01"
            max="2050-12-31">
        </div>
        <div class="col-sm-6 form">
          <label for="name-signup">Pick-up Time</label>
          <input type="time" class="form-input" id="pick-up-time" name="trip-start" value="today">
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 form">
          <label for="flavor-picker">Flavor</label>
          <select class="form-input" type="text" id="flavor" name="flavor-picker">
            {{#each flavors }}
            <option value={{id}} {{#selected}}selected="selected" {{/selected}}>{{flavor_name}}</option>
            {{/each}}
          </select>
          </p>
        </div>

        <div class="col-sm-3 form">
          <label for="name-signup">Size</label>
          <select class="form-input" type="text" id="size" name="size-picker">
            {{#each sizes}}
            <option value={{id}} data-price={{base_price}} {{#selected}}selected="selected" {{/selected}}>{{size}}
            </option>
            {{/each}}
          </select>
        </div>


        <div class="col-sm-3">

            <label>Cake Format
              <select class="form-input" id="cake-format" name="cake-format">
                <option selected disabled hidden>Select Format Type</option>
                <option value="1">Rounded</option>
                <option value="2">Rectangular(14" and up)</option>
              </select>
            </label>
          </div>
        
      </div>

      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label>Dough
              <select class="form-input" id="dough" name="dough">
                <option selected disabled hidden>Select Dough Type</option>
                <option value="1">Vanilla</option>
                <option value="2">Chocolate</option>
                <option value="3">Red Velvet</option>
              </select>
            </label>
          </div>
        </div>

        <div class="col-sm-3 form">
          <label for="name-signup">Price</label>
          <select class="form-input" type="text" id="price" name="price-picker">
            {{#each sizes }}
            <option value={{id}} {{#selected}}selected="selected" {{/selected}}>{{base_price}}</option>
            {{/each}}
          </select>
        </div>
        <div class="col-sm-3 form">
          <label for="name-signup">Additional Price</label>
          <input class="form-input" type="number" id="additional-price">
        </div>
      </div>
      <div class="form">
        <label for="name-signup">Description</label>
        <input class="form-input" type="text" id="description" />
      </div>
      <div class="form-group">
        <label for="name-signup">Add Link of image:</label>
        <input class="form-input" type="text" id="image-link" />
      </div>

      <div class="form-group">
        <button class="btn btn-primary form-input" id="create-order" type="submit">Create Order</button>
      </div>
    </form>
  </div>
</div>



<script src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
{{!--
<script src="./js/reports.js"></script> --}}
<link rel="stylesheet" type="text/css" href="./css/reports.css">

<script src="./js/order.js"></script>